---
import Footer from "../components/Footer.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Escuelas">
  <main>
    <h1 class="mt-6 mb-11 text-center text-2xl text-gray-600">
      ¡Error 404 - esta pagina no esta disponible por el momento!
    </h1>
    <img
      src="/images/enConstruccion.avif"
      alt="en construccion"
      class="w-full max-w-lg rounded-xl bg-cover mx-auto"
    />
    <h1 class="mt-6 mb-11 text-center text-2xl text-gray-600">
      ¡Estamos en construccion!
    </h1>
    <Footer />
  </main>
</Layout>
