---
interface Props{
  item:any
  careerId?:string
}

const { item, careerId } = Astro.props 
---

<a
  href={ careerId ? `${careerId}/${item.id}`: item.id}
  class="px-3 sm:px-5 py-2 sm:py-3 border-orange-500 border-2 rounded-md bg-transparent text-orange-500 text-lg sm:text-xl text-left font-medium
  w-[100%] sm:w-[80%] lg:w-[90%]
  hover:border-orange-300 transition 
  hover:text-orange-300
  truncate
  ">
  {item.asignature}
</a>
