---

--- 

<footer class="px-14 sm:px-24 py-11 bg-gray-200">
  <div class=" flex justify-center flex-col sm:flex-row sm:justify-between ">
    <div class="py-4 flex gap-y-3 flex-col">
      <h1 class="text-2xl font-bold">TuGuía</h1>
      <p class="text-xl text-gray-600">De nosotros para nosotros</p>
      <img src="images/logo.png" alt="Logo" class="w-24">
    </div>
    <div class="py-4 flex gap-y-3 gap-x-8">
      <div class="text-3xl">
        <div class="font-medium">Carreras</div>
        <div class="mt-4 text-xl text-gray-500 flex flex-col gap-y-3">
          <a>Ingenierias</a>
          <a>Ciencias Sociales</a>
          <a>Ciencias de la salud</a>
          <a>Ciencias Empresariales</a>
        </div>
      </div>
      <div class="text-3xl">
        <div class="font-medium">Contacto</div>
        <div class="mt-4 text-xl text-gray-500  flex flex-col gap-y-3 ">
          <a>Facebook</a>
          <a>Linkedin</a>
          <a>Gmail</a>
        </div>
      </div>
    </div>
  </div>
  <hr class="border-1 border-gray-300 mt-4 ">
  <div class="text-center text-gray-400 text-lg flex flex-col sm:flex-row sm:justify-around items-center mt-6">
    <p>Copyright TuGuia 2023 - All rights reserved</p>
    <p>Terminos y condiciones</p>
  </div>
</footer>