---
interface Props{
  subTitle:string
	hidden?:boolean

}

const { subTitle, hidden=false } = Astro.props

---

<div class="mt-11 mb-24 px-6">
  <h2 class="text-center text-5xl text-gray-800 font-semibold"> { subTitle } <small class={`text-orange-500 ${hidden && "hidden"}`}> es</small> </h2>
</div>
