---
---

<div class="mt-4 mb-24 px-6">
  <p class="text-center text-3xl sm:text-5xl lg:text-7xl font-bold">Rutas de aprendizaje</p>
  <p class="text-center text-3xl sm:text-5xl lg:text-7xl text-orange-500 font-bold">y especialidad</p>
  <p class="text-center text-3xl sm:text-5xl lg:text-7xl font-bold">UNSAAC</p>
  <p class="px-1 mt-11 text-gray-500 text-lg sm:text-2xl text-center" >Comunidad universitaria UNSAAC para facilitar nuestros </p>
  <p class="px-1 mt-1 text-gray-500 text-lg sm:text-2xl text-center" >caminos de especialidad segun nuestra escuela profesional</p>  
</div>